<ng-content></ng-content>

<div class="main_component flex">
    <mat-card class="flex">
        <mat-card-header>
            <mat-card-title>Contacts</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-card-content>
                <p><mat-icon>chat</mat-icon><a href="https://www.facebook.com/dani.godo" target="_blank">Facebook</a></p>
            </mat-card-content>
            <p><mat-icon>email</mat-icon>gododani12@gmail.com</p>
        </mat-card-content>
    </mat-card>
</div>