mat-card{
    width: 75%;
    height: 75%;
    align-self: center;
}

mat-card-header{
    display: initial;
}

.flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 75%;
}

.main_component{
    height: 100vh;
}

a{
    text-decoration: none;
    color: black;
}