<div class="div-card" *ngIf="ingatlanInput">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>{{ingatlanInput.ingatlan_name}}</mat-card-title>
      <mat-card-subtitle>{{ingatlanInput.user_name}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="loadedImage" >
    <mat-card-content>
      <span>{{ingatlanInput.details}}</span>
    </mat-card-content>
    <mat-card-actions>
        <form [formGroup]="commentsForm" (ngSubmit)="addComment()">
            <div>
                <mat-form-field>
                    <mat-label for="username">Username:</mat-label>
                    <input matInput type="text" formControlName="username" [readonly]="true">
                </mat-form-field>
            </div>
            <div class="break"></div>
            <div>
                <mat-form-field>
                    <mat-label for="comment">Comment:</mat-label>
                    <textarea matInput rows="10" cols="50" formControlName="comment"></textarea>
                </mat-form-field>
            </div>
            <div class="break"></div>
            <div>
                <button mat-raised-button color="primary" type="submit">Add comment</button>
            </div>
        </form>
    </mat-card-actions>
  </mat-card> 
    
  <table *ngIf="comments.length" matSort (matSortChange)="sortData($event)">
    <tr>
      <th mat-sort-header="user">User</th>
      <th mat-sort-header="comment">Comment</th>
      <th mat-sort-header="date">Date</th>
      <th>Update</th>
      <th>Delete</th>
    </tr>
    
    <tr *ngFor="let comment of comments; let i = index;" [ngClass]="i % 2 === 0 ? 'table-header-even' : 'table-header-odd'">
      <td>{{comment.username}}</td>
      <td><input matInput type="text" value="{{comment.comment}}"></td>
      <td>{{comment.date | dateFormat}}</td>
      <td><button mat-raised-button color="primary" (click)="updateComment(comment.username, comment)">Update</button></td>
      <td><button mat-raised-button color="warn" (click)="deleteComment(comment.id, comment.username)">Delete</button></td>
    </tr>
  </table>
</div>