div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
}

.main-component{
    background-image: url(../../../assets/main_background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
    height: 100vh;
}